extends layout
block content
    div.container.panel.panel-default.center
        h1= title + " Gruppe 4 CA 3 Orders Viewer"
        h3 Design:
        p.
           Vi har brugt MongoDB som database, og Mongoose i Node og webstorm til at kunne komminukerer med databasen.
           Derudover har vi brugt express til at oprette en dynamisk hjemmeside, med forskellige sider.
           I frontend har vi brugt Jade, CSS og Bootstrap, samt en smule JQuery til at konstruere vores viste hjemmesider gennem vores javascripts igennem Express.

        h3 Arbejdsfordeling:
        p.
           Da vi før har haft stor success med pair-programming, har vi igen gjort det igennem skype og teamviewer.
           Dvs vi alle har været med til at kode og alle har set alt koden.

        h3 Opgaver:
        p.
           Opgave 1 og 2 er lavet. Bonus 1 og 2 ligeledes. Vi har lavet stier til customer- og employee-details og lister til categories, products, customers og employees.
           Vi har vi delvist løst Part 3. Man kan således redigere (edit > save) og slette (delete) customers i databasen.
           Dette skal nu blot overføres til de andre elementer også.

        p   * Part I: færdig
        p   * Part II: færdig
        p   * Bonus I: færdig (tryk på Edit-knap for at se details om henholdsvis customer/employee)
        p   * Bonus II: færdig
        p   * Part III: Delvis færdig


        h3 Github
        a(href="https://github.com/foosah/CA3_orders_Viewer") Github link
        p
        p Dat-A Gruppe 4: Michael, Sebastian, Emil og Andreas.