extends layout
block content
    div.container
        h1= title
        p Design:
           | Vi har brugt mongodb som database, og mongoose i node og webstorm til at kunne komminukerer med databasen.
           | Derudover har vi brugt express til at oprette en dynamisk hjemmeside, med forksellige sider.
           | I frontend har vi brugt .jade til at konstruerer vores viste hjemmesider gennem vores javascripts etc igennem express.

           | Arbejdsfordeling:
           | Da vi før har haft stor success med pair-programming, har vi igen gjort det igennem skype og teamviewer.
           | Dvs vi alle har været med til at kode og alle har set alt koden.

           | Opgaver:
           | Opgave 1 og 2 er lavet. Vi har deruodver lavet stier til customer og employee-detials og lister til kategorier,
           | produkter, customers og eployees. Altså:

           | * Part I: færdig
           | * Part II: færdig
           | * Bonus I: færdig (tryk på Edit-knap for at se details om henholdsvis customer/employee)
           | * Bonus II: færdig
           | * Part III:
           |     Vi har kigget lidt på det at edite en customer, men blev ikke helt færdig med det.
           |
           |
           | Dat-A Gruppe 4: Michael, Sebastian, Emil og Andreas
        include backButton
        input.btn.btn-primary#backButton(type= "button", value= "Back")
