extends layout

block content
  div.container
    div.col-md-12
        div.col-md-6
            table.table.table-striped.table-hover.table-bordered
                tr
                    th Data
                    th Data
                tr
                    td 1
                    td 2
                tr
                    td 1
                    td 2
                tr
                    td 1
                    td 2
            button.btn.btn-success
                span ok
                span.glyphicon.glyphicon-arrow-down
            button.btn.btn-danger ok
            button.btn.btn-default ok