header.container
    div.home.col-lg-12
        ul.nav.nav-tabs.nav-justified
            li(class=title=='Orders'?'active':undefined)
                a.text-muted(href="/") Home
            li(class=title=='Orderdetails'?'active':undefined)
                a.text-muted(href="/orderdetails") Orderdetails
