extends layout
block content
   div.container
      h1= title
      #order
      p Welcome to #{title}
      p This is your order:
      p #{order}
      button.btn.btn-primary Go Back
         a(href="/").white