.nav-tabs > li.active > a{
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table{
    margin-top: 0px;
}

.home{
    margin-bottom: 10px;
}

.ordersTitle{
    margin-top: 0px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}